Source: network-manager-config-connectivity-pop
Section: net
Priority: optional
Maintainer: Ian Santopietro <ian@system76.com>
Build-Depends: debhelper (>= 10.3)
Standards-Version: 4.1.3
Rules-Requires-Root: no
Vcs-Git: https://github.com/pop-os/connectivity.git
Vcs-Browser: https://github.com/pop-os/connectivity.git
Homepage: https://github.com/pop-os/connectivity


Package: network-manager-config-connectivity-pop
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         network-manager (>= ${source:Version})
Description: NetworkManager configuration to enable connectivity checking
 This package contains a configuration file which enables NetworkManager's
 connectivity checking functionality.
 .
 NetworkManager will try to connect to a Pop!_OS server to determine the
 connection status.
 .
 This is particularly useful for captive portal detection.
 .
 No user data is transmitted in the connectivity checks, but merely contacting
 the Pop!_OS connectivity check servers reveals that the user is running Pop!_OS
 with NetworkManager.
 .
 This package adheres to the Pop!_OS Privacy Policy:
 .
 System76, Inc. and Pop!_OS do not collect or store any information from user
 installations. Minimal OS and hardware version data is used (but not stored) to
 provide firmware and software updates. An http ping to a server is used for
 connection verification and enabling connecting to captive portal wifi
 connections (like those at many hotels).